<div class="feed-detail">

  <h4>{{model._user.fullName}}</h4>
  <h5>{{model.content}}</h5>
  <h6 style="text-align: right">{{ago model.createdDate}}</h6>

  <hr>
  <div class="profiles">
    <h5>PROFILES</h5>
    <div class="row">
      <div class="col-lg-8">
        <p>
          <i class="glyphicon glyphicon-phone"></i>
          <a href="tel:{{model._user.phoneNumber}}">{{model._user.phoneNumber}}</a>
        </p>
      </div>

      <div class="col-lg-8">
        <p>
          <i class="glyphicon glyphicon-send"></i>
          <a href="mailto:{{model._user.email}}">{{model._user.email}}</a>
        </p>
      </div>

      {{!-- <div class="col-lg-8">
        <p>
          <i class="glyphicon glyphicon-flash"></i>
          <a href="javascript:;">skype</a>
        </p>
      </div> --}}

      <div class="col-lg-8">
        <p>
          <i class="glyphicon glyphicon-share-alt"></i>
          <a href="#" {{action 'openLink' model._user.facebook.link}}>facebook link</a>
        </p>
      </div>
    </div>
  </div>

  <div class="photos">
    <h5>MAPS</h5>
    {{google-map
      lat=model.latitude lng=model.longitude markers=markers
      zoom=17 gopt_zoomControl=false gopt_draggable=true
      type='map'}}
  </div>

  {{!-- <div class="photos">
    <h5>PHOTOS</h5>
    <button class="btn btn-success btn-sm">load photos from fb</button>
  </div> --}}
</div>

{{outlet}}
