{{!-- {{link-to 'I WANNA HOOKUP' 'feed.new' class='btn btn-success btn-block'}} --}}

<a href="javascript:;" class='btn btn-success btn-block' {{action 'toNew'}}>I WANNA HOOKUP</a>
{{loading-slider isLoading=loading}}

{{!-- {{#spin-button action='toNew' inFlightBinding='inFlight'
  buttonStyle='expand-right' class='btn btn-success btn-block'}}I WANT A HOOK{{/spin-button}} --}}

<div style="margin-top: 14px">
  <h6>hooks</h6>

  {{#each item in model}}
    <div class="media" {{action 'navToDetail' item}}>
      <div class="media-left">
        <a href="javascript:;">
          <img class="media-object"
            src="http://avatars.io/facebook/{{item._user.facebook.id}}?size=medium"
            style="width: 64px; height: 64px;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading" id="media-heading">
          <a class="anchorjs-link" href="#media-heading">
            <span class="anchorjs-icon">{{item._user.fullName}}</span>
          </a>
        </h4>
        {{item.content}}
      </div>
    </div>
  {{/each}}

</div>
