<h4 class="header">ABOUT</h4>

<div class="about">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>#hookup(18+) is a dating app for adult only.
        <a href="#" {{action 'more'}}> more...</a>
      </p>
    </div>

    <div class="col-lg-8 text-right">
      <small class="text-right">v0.9.0</small>,
      <a href="#" {{action 'privacy'}}><small>privacy policy</small></a>
    </div>

    {{!-- <div class="col-lg-8">
      <p>
        <i class="glyphicon glyphicon-paperclip"></i>
        <a href="javascript:;" {{action 'privacy'}}>privacy policy</a>
      </p>
    </div> --}}

    <div class="col-lg-8">
      <p>
        <i class="glyphicon glyphicon-flash"></i>
        <a href="javascript:;" {{action 'updateProfile'}}>update profile</a>
      </p>
    </div>

    <div class="col-lg-8">
      <p>
        <i class="glyphicon glyphicon-star"></i>
        <a href="javascript:;" {{action 'rating'}}>rating</a>
      </p>
    </div>

    <div class="col-lg-8">
      <p>
        <i class="glyphicon glyphicon-ice-lolly-tasted"></i>
        <a href="mailto:tampham47@live.com?subject=[FB-HOOKUP]">feedback</a>
      </p>
    </div>

    <div class="col-lg-8">
      <p>
        <i class="glyphicon glyphicon-share-alt"></i>
        <a href="javascript:;" {{action 'share'}}>share</a>
      </p>
    </div>

    <div class="col-lg-8">
      <p>
        <i class="glyphicon glyphicon-heart-empty"></i>
        <a href="javascript:;" {{action 'moreApps'}}>more apps</a>
      </p>
    </div>
  </div>
</div>

{{liquid-outlet}}
